*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(uzi.png);
    background-size: cover;
    background-position: center;
    height: 150vh;
    width: 100%;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name{
    transition: 0.5s;
    cursor: default;
}

.name{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 18px;
}

.name:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    border-radius: 18px;
}

h4{
    transition: 0.5s;
}

a{
    color: #fff;
}

h4:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 5px;
}


